*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:8px;
}

   /*   Header Section   */

header{
    width: 100%;
    height: 8rem;
    display: flex;
}
header img{
    height: 7rem;
    margin:auto 0 auto 3rem;
}
.academy-name{
    font-family: 'PT Sans Caption';
    font-size:4rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.academy-name #color-black{
    color:hsl(0, 1%, 33%);
    font-weight: bold;
}
.academy-name #color-lightgray{
    color:hsl(0, 0%, 77%);
    font-weight:normal;
}
.nav-link{
    display:flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right:3rem;;
}
 a{
    text-decoration: none;
    color:hsl(0, 1%, 33%);
    font-size:3.2rem;
    font-family: 'PT Sans Caption';
    padding-left:2rem;
}
.nav-icon{
    display:none;  
 }
.nav-icon img{
    height:7rem;  
}


@media only screen and (max-width:480px){
    header img{
        margin-right:1.2rem;
    }
    .academy-name{
        display: none;
    }
    .nav-link{
        display:none;
    }
    .nav-icon{
        display:flex;
        flex-grow: 1;
        justify-content: space-around;
        margin-right:1rem;
    }   
    .nav-icon img{
        margin:auto 0 auto 3rem;  
    }
}


        /*   Banner Section   */

.banner-container{
    max-height: 100%;
    max-width: 100%;
    background-color:hsl(0, 0%, 77%); 
    display:flex;
}
.banner-container img{
    width:60%;
    margin:4rem 3rem;
}
.container{
    margin: auto 0 auto 3rem;
}
.content{
    font-size:2.7rem;
    font-weight:bold;
    color:hsl(0, 4%, 27%);
}
.content h1{
    margin-bottom: 3rem;
    font-family: "Work Sans";
}
.content p{
    margin-bottom: 3rem;
    font-family: sans-serif;
}
.button{
    width:100%;
    background-color: hsl(0, 2%, 24%);
    margin-left:0 ;
}
.button p{
    color:white;
    padding:1rem 0;
    font-size:2rem;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

@media only screen and (max-width:480px){
    .banner-container{
        flex-wrap: wrap;
    }
    .banner-container img{
        width:100%;
        margin:0;
    }
    .container{
        margin:4rem 2rem 4rem 2rem;
    }
}


        /*   Information Section   */

.information-container{
    max-width: 100%;
    max-height: 100%;
    display:flex;
    justify-content: space-between;
}
.information-main{
    width:60%;
}
.information-main img{
    width: 100%;
    margin:4rem 3rem;
}
.information-main h1{
    color:hsl(0, 2%, 24%);
    font-family: "Work Sans";
    font-size:5rem;
    margin:0 0 3rem 3rem;
}
.information-main p{
    color: hsl(0, 2%, 24%);
    font-family: "Work Sans";
    font-size: 2.7rem;
    margin:0 0 5rem 3rem;
}
.information-main #semi-bold{
    font-family: sans-serif;
    font-weight: 500;
    margin:0 0 4rem 3rem;
}
.information{
    width:35%;
    max-height:100%;
}
.information .information-orientation{
    width:100%;
    max-height:100%;
    border:1px solid hsl(0, 7%, 89%);
    margin-top:4rem;
    display:flex;
}
.information-orientation img{
    width:35%;
    height: auto;
    margin:2rem;
}
#info-orientation-mobile{
    display:none;
}
.information-orientation .content{
    margin: auto 0 auto 1rem;
    font-family: "Work Sans";
    font-size:1.6rem;
    
}
.information-orientation .content h1{
    font-weight: 500;
    margin:4rem 0 1rem 0;
}
.information-orientation .content p{
    font-weight:400;
    font-size:2rem;
}
#color-blue{
    margin-top:-2rem;;
}
.information-orientation .content a{
    color:rgb(68, 68, 216);
    text-decoration: none;
    font-size:2rem;
    padding-left:0;
}
.information .information-campus{
    width:100%;
    max-height:100%;
    border:1px solid hsl(0, 7%, 89%);
    margin-top:0.7%;
    display:flex;
}
.information-campus img{
    width:35%;
    height: auto;
    margin:2rem;
}
#info-campus-mobile{
    display:none;
}
.information-campus .content{
    margin: auto 0 auto 1rem;
    font-family: "Work Sans";
    font-size:1.6rem;
    
}
.information-campus .content h1{
    font-weight: 500;
    margin:4rem 0 1rem 0;
}
.information-campus .content p{
    font-weight:400;
    font-size:2rem;
}
.information-campus .content a{
    color:rgb(68, 68, 216);
    text-decoration: none;
    font-size:2rem;
    padding-left:0;
}
.information .information-lecture{
    width:100%;
    max-height:100%;
    background-color:hsl(0, 0%, 77%);
    margin-top:0.1%;
    display:flex;
}
.information-lecture img{
    width:35%;
    height: auto;
    margin:2rem;
}
#info-lecture-mobile{
    display:none;
}
.information-lecture .content{
    margin: auto 0 auto 1rem;
    font-family: "Work Sans";
    font-size:1.6rem;
    
}
.information-lecture .content h1{
    font-weight: 500;
    margin:4rem 0 1rem 0;
}
.information-lecture .content p{
    font-weight:400;
    font-size:2rem;
}
.information-lecture .content a{
    color:rgb(68, 68, 216);
    text-decoration: none;
    font-size:2rem;
    padding-left:0;
}



@media only screen and (max-width:600px){
    .information-main{
        display:none;
    }
    .information{
        width:100%;
    }
    .information .information-orientation{
        flex-wrap:wrap;
    }
    .information-orientation img{
       display: none;
    }
    .information-orientation #info-orientation-mobile{
        display:unset;
        width:92.3%;
        margin:2rem 2rem 0 2rem;
    }
    .information-orientation .content{
        margin: 0 0 4rem 2rem;  
    }

    .information .information-campus{
        flex-wrap:wrap;
    }
    .information-campus img{
       display: none;
    }
    .information-campus #info-campus-mobile{
        display:unset;
        width:92.3%;
        margin:2rem 2rem 0 2rem;
    }
    .information-campus .content{
        margin: 0 0 4rem 2rem;  
    }

    .information .information-lecture{
        flex-wrap:wrap;
    }
    .information-lecture img{
       display: none;
    }
    .information-lecture #info-lecture-mobile{
        display:unset;
        width:92.3%;
        margin:2rem 2rem 0 2rem;
    }
    .information-lecture .content{
        margin: 0 0 4rem 2rem;  
    }
}